//==== COLORS ====\\
$charcoal:        #2F2F2D;
$charcoal-dark:   #121212;
$white:           #FFFFFF;
$off-white:       #CACACA;
$divider-color:   #DEDEDE;

$orange-dark:     #FF6C00;
$orange:          #D68D44;
$orange-light:    #FFA700;

$grey-darker:     #3C3C3C;
$grey-dark:       #6D6C6E;
$grey:            #898989;
$grey-light:      #E6E6E6;
$grey-lighter:    #F7F7F7;


//==== BREAKPOINTS ====\\
$mobile-max: 420px;
$tablet-min: 421px;
$tablet-max: 680px;
$desktop-min: 681px;
$desktop-max: 1100px;
$bg-desktop-min: 1101px;