$player-bg: #2F2F2D;
$player-secondary: #898989;
$player-row-divider: #DEDEDE;
$progress: #D68D44;

    body {
      margin: 0;
      font-family: "RoundedElegance", sans-serif;

    }

    button {
      outline: none;
      font-family: "RoundedElegance", sans-serif;
    }

    @font-face {
      font-family: RoundedElegance;
      src: url(Rounded_Elegance.ttf);
    }

    @font-face {
      font-family: BikoReg;
      src: url(Biko_Regular.otf);
    }

    #nav {
      border-bottom: 1px solid #D4D4D4;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      color: #888888;
      background-color: #ffffff;
    }

    #nav ul {
      display: inline-block;
      border-radius: 0.35em;
      box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.25);
      padding: 0 1.5em 0 1.5em;
     }

    #nav ul li {
      display: inline-block;
      text-align: center;
      padding: 0 1.5em 0 1.5em;
    }

    .banner-sec {
      background-image: url("/images/shan-nash-1500x500.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 0;
      padding-top: 33.3%;

      @media screen and (min-width: 681px) and (max-width: 1100px) {
        background-image: url("/images/shan-nash-900x400.jpg");
        padding-top: 50%;
      }

      @media screen and (min-width: 421px) and (max-width: 680px) {
        background-image: url("/images/shan-nash-600x500.jpg");
        padding-top: 83%;
      }

      @media screen and (max-width: 420px) {
        background-image: url("/images/shan-nash-400x500.jpg");
        padding-top: 125%;
      }

    }

      .player-sec {
            border-top: 1px solid $player-row-divider;
            background-color: #ffffff;
            padding: 2em 0;

            @media screen and (min-width: 681px) and (max-width: 1100px) {

            }

            @media screen and (min-width: 421px) and (max-width: 680px) {
                  padding: 0;
            }

            @media screen and (max-width: 420px) {
                  padding: 0;
            }
      }

      .player {
            background-color: $player-bg;
            border-radius: 3px;
            max-width: 800px;
            margin: auto;
            padding: 1em;

            @media screen and (min-width: 421px) and (max-width: 680px) {
                padding: 0;
            }

            @media screen and (max-width: 420px) {
              padding: 0;
            }
      }

    .player ul {
      list-style: none;
      padding-left: 0;
    }

    .player li {
      cursor: pointer;
      border-bottom: 1px solid #404040;
    }

    .player li .track-duration {
      float: right;
      color: #ffffff;
    }

    .player li:hover {
      background-color: #ffffff;

      @media screen and (max-width: 420px) {
        background-color: transparent;
      }
    }

    .player li:after {
      content: '';
      display: block;
      clear: both;
    }

    .player li:hover > .track-info {
      font-weight: 600;
      color: #000000;

      @media screen and (max-width: 420px) {
        font-weight: normal;
        color: #ffffff;
      }
    }

    .player li:hover > .track-info .track-duration{
      color: #000000;
      font-weight: 600;

      @media screen and (max-width: 420px) {
        font-weight: normal;
        color: #ffffff;
      }
    }

    .player li.active > .track-info {
      background-color: #3C3C3C;
    }

    .player li.active:hover > .track-info {
      background-color: #ffffff;

      @media screen and (max-width: 420px) {
        background-color: #3C3C3C;
      }
    }

    .player li.active > .track-info .num {
      display: none;
      visibility: hidden;
    }

    .player li.active > .track-info .play {
      display: inline-block;
      visibility: visible;
    }

    .player button {
      font-size: 15px;
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      line-height: 2em;
      text-align: left;
      padding: .5em 1em;
      margin: 0;
      height: auto;
      border: 1px solid transparent;
      vertical-align: middle;
      -webkit-appearance: none;
    }

    .player .table-btn {
      position: relative;
      z-index: 2;
      color: #ffffff;
      background-color: transparent;
      border-radius: 0;
      border: 1px solid transparent;
      -webkit-transition-duration: .1s;
      transition-duration: .1s;
      -webkit-transition-timing-function: ease-out;
    }

    .player-table .num {
      color: #6D6C6E;
      padding-right: 10px;
    }

    .player-table .play {
      display: none;
      padding-right: 12px;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 6px solid #CACACA;
      visibility: hidden;
    }

    .player-table .track-info {
      font-size: 15px;
      line-height: 2em;
      text-align: left;
      padding: .5em 1em;
      margin: 0;
      height: auto;
      position: relative;
      z-index: 2;
      color: #ffffff;
      background-color: transparent;
      vertical-align: middle;
      -webkit-appearance: none;
    }

    .player-table .track-info .short-div {
      width: 85%;
      float: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media screen and (max-width: 420px) {
        width: 80%;
      }
    }

    .track-info:after, .top:after {
      content: '';
      display: block;
      clear: both;
    }

    .progress {
      display: block;
      width: 104%;
      height: .3em;
      margin: .5em 0em .5em -1em;
      background-color: rgba(0,0,0,.0625);
      border: 0;
      overflow: hidden;
      -webkit-appearance: none;
      cursor: pointer;
    }

    progress[value]::-webkit-progress-value {
      //background-color: #9e5c00;
      background-color: #D68D44;


      border-radius: 2px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    .player-info {
      color: #CACACA;
    }

    .player-info .top {
      padding: 0 1em;
    }

    .player-info h3 {
      margin-left: .8em;
      margin-top: 0;
      color: #FF6C00;
    }



    .player-info span.righty {
      margin-top: 22px;
      font-size: 15px;
    }

    .righty {
      float: right;
    }

    .lefty {
      float: left;
    }
