// -----------------------------------
// Designed and created by BAS PARTOVI
// All Rights Reserved © BASP 2015
// Contact: www.BasPartovi.com
// -----------------------------------
@import "animations";

//==== COLORS ====\\
$charcoal: #2F2F2D;
$white: #FFFFFF;
$off-white: #CACACA;
$divider-color: #DEDEDE;

$orange-dark: #FF6C00;
$orange: #D68D44;
$orange-light: #FFA700;

$grey-darker: #3C3C3C;
$grey-dark: #6D6C6E;
$grey: #898989;
$grey-light: #E6E6E6;
$grey-lighter: #F7F7F7;



//==== GENERAL STYLING =====\\
	body {
		margin: 0;
		font-family: "RoundedElegance", sans-serif;
	}

	button {
		outline: none;
		font-family: "RoundedElegance", sans-serif;
	}

	@font-face {
		font-family: RoundedElegance;
		src: url(fonts/Rounded_Elegance.ttf);
	}

	a {
		font-family: "RoundedElegance", sans-serif;
		text-decoration: none;
	}

	nav {
		border-bottom: 1px solid $divider-color;
		background-color: $white;
		position: fixed;
		font-size: 25px;
		width: 100%;
		padding: 5px;
		top: 0;
		z-index: 100;

		@media screen and (max-width: 680px) {
			background-color: $charcoal;
		}
	}

	nav ul {
		max-width: 340px;
		padding-left: 0;
		margin: 0 0 0 auto;
		text-align: center;

		@media screen and (max-width: 680px) {
			width: auto;
			margin: 0 auto;
		}
	}

	nav li {
		//-moz-animation: nav-icons 0.5s ease-in-out forwards;
		//-webkit-animation: nav-icons 0.5s ease-in-out forwards;
		//-ms-animation: nav-icons 0.5s ease-in-out forwards;
		//animation: nav-icons 0.5s ease-in-out forwards;
		//-moz-transform: translate3d(0,0,0);
		//-webkit-transform: translate3d(0,0,0);
		//-ms-transform: translate3d(0,0,0);
		//transform: translate3d(0,0,0);
		display: inline-block;
		position: relative;
	}

	nav ul a {
		display: inline-block;
		color: $charcoal;
		width: 1.6em;
		line-height: 1.6em;
		font-size: 30px;
		position: relative;
		text-align: center;
		top: 0;
		-moz-transition: all .15s ease-in-out;
		-webkit-transition: all .15s ease-in-out;
		-ms-transition: all .15s ease-in-out;
		transition: all .15s ease-in-out;

		@media screen and (max-width: 680px) {
			color: $divider-color;
		}
	}

	nav ul a:hover {
		-webkit-transform: scale(1.15);
		-moz-transform: scale(1.15);
		-ms-transform: scale(1.15);
		-o-transform: scale(1.15);
		transform: scale(1.15);
		opacity: .5;

		@media screen and (max-width: 680px) {
			-webkit-transform: none;
			-moz-transform: none;
			-ms-transform: none;
			-o-transform: none;
			transform: none;
			opacity: 1;
		}
	}

	nav ul a span {
		display: none;
	}

	nav #shannash {
		cursor: pointer;
		font-weight: bold;
		padding-left: .5em;
		text-decoration: none;
		color: $charcoal;

		@media screen and (max-width: 680px) {
			display: none;
		}
	}

	#main-body {
		padding-bottom: 1em;
	}

//===== BANNER =====\\

	.banner-sec {
		background-image: url("/images/shan-nash-1500x500.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		height: 0;
		padding-top: 33.3%;
		margin-top: 36px;

		@media screen and (min-width: 681px) and (max-width: 1100px) {
			background-image: url("/images/shan-nash-900x400.jpg");
			padding-top: 50%;
		}

		@media screen and (min-width: 421px) and (max-width: 680px) {
			background-image: url("/images/shan-nash-600x500.jpg");
			padding-top: 83%;
		}

		@media screen and (max-width: 420px) {
			background-image: url("/images/shan-nash-400x500.jpg");
			padding-top: 125%;
		}
	}

	.icon {
		text-decoration: none;
		position: relative;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	.icon > .label {
		display: none;
	}


	.righty {
		float: right;
	}

	.lefty {
		float: left;
	}

//===== INSTAGRAM =====\\

	.instagram-sec {
		margin: auto;
		background-color: $grey-lighter;
		text-align: center;

		@media screen and (max-width: 420px) {
			max-width: 100%;
		}
	}

	.instagram-sec:after {
		content: '';
		display: block;
		clear: both;
	}

	.instagram-sec .insta-header {
		text-align: center;
		padding: .5em;
		font-size: 25px;
	}

	.instagram-sec .insta-header a {
		color: #000;
	}

	.instagram-sec .insta-header span {
		font-family: "RoundedElegance", sans-serif;
		display: inline-block;
		margin-left: 10px;
		font-size: 20px;
	}

	.instagram-sec .insta-list {
		margin: auto;
		max-width: 1200px;
	}

	.insta-list:after {
		content: '';
		display: block;
		clear: both;
	}


	.instagram-sec li {
		display: inline;

		@media screen and (max-width: 420px) {
			display: block;
		}
	}

	.instagram-sec img {
		max-width: 19%;

		@media screen and (max-width: 681px) and (min-width: 421px) {
			max-width: 32.7%;
			float: left;
			border: 1px solid $white;
		}

		@media screen and (max-width: 420px) {
			max-width: 32.7%;
			float: left;
			border: 1px solid $white;
		}
	}

      .instagram-sec .insta-img:hover {
	      opacity: .65;

	      @media screen and (max-width: 680px) {
		      opacity: 1;
	      }
      }



//===== PLAYER =====\\

	.player-sec {
		border-top: 1px solid $divider-color;
		border-bottom: 1px solid $divider-color;
		background-color: $white;
		padding: 2em 2em;

		@media screen and (min-width: 681px) and (max-width: 1100px) {

		}

		@media screen and (min-width: 421px) and (max-width: 680px) {
			padding: 0;
		}

		@media screen and (max-width: 420px) {
			padding: 0 0;
		}
	}

	.player {
		background-color: $charcoal;
		border-radius: 3px;
		max-width: 800px;
		margin: auto;
		padding: 1em;

		@media screen and (min-width: 421px) and (max-width: 680px) {
			padding: 0;
		}

		@media screen and (max-width: 420px) {
			padding: 0;
		}
	}

	.player ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
		border-bottom: 1px solid $grey;
	}

	.player li {
		cursor: pointer;
		border-bottom: 1px solid #404040;
	}

	.player li .track-duration {
		float: right;
		color: $white;
	}

	.player li:hover {
		background-color: $white;

		@media screen and (max-width: 680px) {
			background-color: transparent;
		}
	}

	.player li:after {
		content: '';
		display: block;
		clear: both;
	}

	.player li:hover > .track-info {
		font-weight: 600;
		color: #000000;

		@media screen and (max-width: 680px) {
			font-weight: normal;
			color: $white;
		}
	}

	.player li:hover > .track-info .track-duration{
		color: #000000;
		font-weight: 600;

		@media screen and (max-width: 680px) {
			font-weight: normal;
			color: $white;
		}
	}

	.player li.active > .track-info {
		background-color: $grey-darker;
	}

	.player li.active:hover > .track-info {
		background-color: $white;

		@media screen and (max-width: 420px) {
			background-color: $grey-darker;
		}
	}

	.player li.active > .track-info .num {
		display: none;
		visibility: hidden;
	}

	.player li.active > .track-info .play {
		display: inline-block;
		visibility: visible;
	}

	.player button {
		font-size: 15px;
		text-decoration: none;
		cursor: pointer;
		display: inline-block;
		line-height: 2em;
		text-align: left;
		padding: .5em 1em;
		margin: 0;
		height: auto;
		border: 1px solid transparent;
		vertical-align: middle;
		-webkit-appearance: none;
	}

	.player .table-btn {
		position: relative;
		z-index: 2;
		color: $white;
		background-color: transparent;
		border-radius: 0;
		border: 1px solid transparent;
		-webkit-transition-duration: .1s;
		transition-duration: .1s;
		-webkit-transition-timing-function: ease-out;
	}

	.player-table .num {
		color: $grey-dark;
		padding-right: 10px;
	}

	.player-table .play {
		display: none;
		padding-right: 12px;
		height: 0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 6px solid $off-white;
		visibility: hidden;
	}

	.player-table .track-info {
		font-size: 15px;
		line-height: 2em;
		text-align: left;
		padding: .5em 1em;
		margin: 0;
		height: auto;
		position: relative;
		z-index: 2;
		color: $white;
		background-color: transparent;
		vertical-align: middle;
		-webkit-appearance: none;
	}

	.player-table .track-info .short-div {
		width: 85%;
		float: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@media screen and (max-width: 420px) {
			width: 80%;
		}
	}

	.track-info:after, .top:after, .playback:after {
		content: '';
		display: block;
		clear: both;
	}

	.progress {
		display: block;
		width: 104%;
		height: .3em;
		margin: .5em 0em .5em -1em;
		background-color: rgba(0,0,0,.0625);
		border: 0;
		overflow: hidden;
		-webkit-appearance: none;
		cursor: pointer;
	}

	progress[value]::-webkit-progress-value {
		background-color: #D68D44;
		border-radius: 2px;
		background-size: 35px 20px, 100% 100%, 100% 100%;
	}

	.player-info {
		color: #CACACA;
	}

	.player-info .top {
		padding: 0 1em;
	}

	.player-info h3 {
		margin-top: 0;
		color: $orange-dark;
	}

	.player-info span.righty {
		margin-top: 22px;
		font-size: 15px;
	}

//===== PLAYBACK BUTTONS =====\\


	#play, #pause, #fwd, #rew {
	      width: 30px;
	      background: transparent;
	      position: relative;
	      display: block;
	      cursor: pointer;
	}

	#play, #pause {
		left: -22px;
	}

	#play:before {
	      width: 0;
	      height: 0;
	      border-left: 17px solid $white;
	      border-right: 17px solid transparent;
	      border-top: 17px solid transparent;
	      border-bottom: 17px solid transparent;
	      position: absolute;
	      content: "";
		top: -5px;
	      left: -10px;
	}

	#pause:before {
	      width: 6px;
	      height: 20px;
	      background: $white;
	      position: absolute;
	      content: "";
		top: 2px;
	      left: 0;
	}

	#pause:after {
	      width: 6px;
	      height: 20px;
	      background: $white;
	      position: absolute;
	      content: "";
		top: 2px;
	      right: 36px;
	}

	#fwd {
		left: -14px;
	}

	#fwd:before {
	      width: 0;
	      height: 0;
	      border-left: 12px solid $grey;
	      border-right: 12px solid transparent;
	      border-top: 12px solid transparent;
	      border-bottom: 12px solid transparent;
	      position: absolute;
	      content: "";
	      left: 17px;
	}

	#fwd:after {
	      width: 0;
	      height: 0;
	      border-left: 12px solid $grey;
	      border-right: 12px solid transparent;
	      border-top: 12px solid transparent;
	      border-bottom: 12px solid transparent;
	      position: absolute;
	      content: "";
	      left: 30px;
	}

	#rew {
		left: -67px;
	}

	#rew:before {
	      width: 0;
	      height: 0;
	      border-left: 12px solid transparent;
	      border-right: 12px solid $grey;
	      border-top: 12px solid transparent;
	      border-bottom: 12px solid transparent;
	      position: absolute;
	      content: "";
	      right: 17px;
	}

	#rew:after {
	      width: 0;
	      height: 0;
	      border-left: 12px solid transparent;
	      border-right: 12px solid $grey;
	      border-top: 12px solid transparent;
	      border-bottom: 12px solid transparent;
	      position: absolute;
	      content: "";
	      right: 30px;
	}


//===== FOOTER =====\\

	footer {
		font-size: 11px;
		font-weight: bold;
		width: 100%;
		height: 30px;
		color: $grey;
		background-color: $white;
		border-top: 1px solid $divider-color;
		z-index: 100;

		@media screen and (max-width: 680px) {
			position: fixed;
			bottom: 0;
		}
	}

	footer .row {
		padding: 8px 1em;
	}

	footer a {
		color: #000000;
	}

	footer a:hover {
		color: $orange-light;
	}
