<!----------------------------------------->
<!--                                     -->
<!-- Designed and created by Bas Partovi -->
<!--        All Rights Reserved          -->
<!--     Contact: www.BasPartovi.com     -->
<!--                                     -->
<!----------------------------------------->

<!doctype html>
<html>
      <head>
            <meta charset="utf-8">
            <title>SHAN NASH</title>
            <meta name="description" content="Shan Nash Music">
            <meta name="viewport" content="width=device-width">
            <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
            <link rel="icon" type="image/png" href="favicon.png">
            <!-- build:css(.) styles/vendor.css -->
            <!-- bower:css -->
            <!-- endbower -->
            <!-- endbuild -->
            <!-- build:css(.tmp) styles/main.css -->
            <link rel="stylesheet" href="styles/main.css">
            <!-- endbuild -->
            <link rel="stylesheet" href="styles/font-awesome.min.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      </head>
      <body ng-app="snWebApp" ng-controller="MainCtrl">

            <!--< MAIN BODY >-->
            <div id="main-body">

                  <!--< NAV BAR >-->
                  <nav>
                        <a id="shannash" href="/" class="lefty">SHAN NASH</a>
                        <ul>
                              <li><a target="_blank" href="https://twitter.com/shannashmusic" class="icon fa fa-twitter"><span class="label">Twitter</span></a></li>
                              <li><a target="_blank" href="https://www.facebook.com/shannashmusic/" class="icon fa fa-facebook"><span class="label">Facebook</span></a></li>
                              <li><a target="_blank" href="https://www.instagram.com/shannashmusic/" class="icon fa fa-instagram"><span class="label">Instagram</span></a></li>
                              <li><a target="_blank" href="https://www.youtube.com/user/Shannashmusic" class="icon fa fa-youtube"><span class="label">YouTube</span></a></li>
                              <li><a target="_blank" href="https://soundcloud.com/shannash" class="icon fa fa-soundcloud"><span class="label">Soundcloud</span></a></li>
                              <li><a target="_blank" href="https://www.mixcloud.com/Shannash/" class="icon fa fa-cloud"><span class="label">MixCloud</span></a></li>
                              <li><a href="mailto:shannashworld@gmail.com" class="icon fa fa-envelope-o"><span class="label">Email</span></a></li>
                        </ul>
                  </nav>      <!--< END NAV BAR >-->

                  <!--< BANNER >-->
                  <section class="banner-sec animate delay-0_25s fadeIn"></section>

                  <!--< PLAYER >-->
                  <section class="player-sec">

                        <div class="player" plangular="https://soundcloud.com/shannash/sets/shan-nash-music">

                              <div class="player-info">
                                    <div class="top">
                                          <h4 class="username lefty">{{playlist.user.username}}</h4>
                                          <span class="righty">{{ currentTime | hhmmss }} / {{ duration | hhmmss }}</span>
                                    </div>

                                    <div class="top">

                                          <h3 class="playlist-title lefty">{{playlist.title}}</h3>
                                          <div class="playback righty">
                                                <div id="rew" ng-click="previous()"></div>
                                                <div id="play" ng-click="playPause(index)" ng-if="player.playing !== track.src"></div>
                                                <div id="pause" ng-click="playPause(index)" ng-if="player.playing === track.src"></div>
                                                <div id="fwd" ng-click="next()"></div>
                                          </div>

                                    </div>


                                    <div class="bottom">
                                          <progress
                                                class="progress"
                                                ng-click="seek($event)"
                                                ng-value="currentTime / duration || 0">
                                                {{ currentTime / duration }}
                                          </progress>
                                    </div>
                              </div>

                              <div class="player-table">
                                    <ul>
                                          <li ng-repeat="track in tracks" ng-click="playPause($index)" ng-class="{'active': player.playing === track.src}">
                                                <div class="track-info">
                                                        <div class="short-div">
                                                                <span class="num">{{$index + 1}}</span>
                                                                <span class="play"></span>
                                                                <span class="track-title">{{track.title}}</span>
                                                        </div>
                                                        <span class="track-duration">{{ track.duration / 1000 | hhmmss }}</span>
                                                </div>
                                          </li>
                                    </ul>
                              </div>

                        </div>

                  </section>  <!--< END PLAYER >-->

                  <!--< INSTAGRAM >-->
                  <section class="instagram-sec">
                        <div class="insta-header">
                              <a target="_blank" href="https://www.instagram.com/shannashmusic/" class="icon fa fa-instagram"><span class="label">Instagram</span></a>
                        </div>
                        <div class="insta-list">
                              <li ng-repeat="item in items">
                                    <a href="{{item.link}}" target="_blank"><img class="insta-img" ng-src="{{item.images.low_resolution.url}}" /></a>
                                    <!--<p ng-bind="item.caption.text"></p>-->
                              </li>
                        </div>
                  </section>  <!--< END INSTAGRAM >-->


                  <!--< FOOTER >-->
                  <footer id="footer">
                        <div class="row">
                              <div class="lefty">created by <a target="_blank" href="http://baspartovi.com/">Bas Partovi</a></div>
                              <div class="righty">copy right © <a target="_blank" href="http://baspartovi.com/">Bas Partovi</a></div>
                        </div>
                  </footer>   <!--< END FOOTER >-->


            </div>      <!--< END MAIN BODY >-->


            <!-- build:js(.) scripts/vendor.js -->
            <!-- bower:js -->
            <script src="bower_components/angular/angular.js"></script>
            <script src="bower_components/angular-animate/angular-animate.js"></script>
            <script src="bower_components/angular-cookies/angular-cookies.js"></script>
            <script src="bower_components/angular-resource/angular-resource.js"></script>
            <script src="bower_components/angular-route/angular-route.js"></script>
            <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
            <script src="bower_components/angular-touch/angular-touch.js"></script>
            <script src="bower_components/plangular/dist/plangular.js"></script>
            <script src="bower_components/jsSHA/src/sha.js"></script>
            <!--<script src="bower_components/ng-twitter-api/dist/ng-twitter-api.js"></script>-->
            <!-- endbower -->
            <!-- endbuild -->

                  <!-- build:js({.tmp,app}) scripts/scripts.js -->
                  <script src="scripts/app.js"></script>
                  <script src="scripts/controllers/main.js"></script>
                  <!-- endbuild -->
      </body>
</html>
